@import "tailwindcss";
 


.ul{
 @apply flex space-x-12 items-center
}

/*@theme{
  --breakpoint-sm: 10px;
  --breakpoint-md: 700px;
  --breakpoint-lg: 1000px;


}

*/

.card{
  animation: showElement both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}



@keyframes showElement{

0%{
  opacity: 0;
  transform: translateY(500px);
}

100%{
  opacity: 1;
  transform: translateY(0);
}


}